version: '3.9'

x-common-django:
  &default-common-django
  image: ${DOCKER_NAMESPACE:-$COMPOSE_PROJECT_NAME}/geonode:${GEONODE_BASE_IMAGE_VERSION}-rootless
  volumes:
    - './src:/usr/src/opengeosgb'
    - statics:/mnt/volumes/statics
    # - /home/mota/_geonode/statics:/mnt/volumes/statics
    - geoserver-data-dir:/geoserver_data/data
    # - backup-restore:/backup_restore
    # - ./draft/br:/backup_restore
    - data:/data
    # - /home/mota/_geonode/data:/data
    - tmp:/tmp
  user: '1000'

services:
  django:
    << : *default-common-django
    ports:
      - 8000:8000

  celery:
    << : *default-common-django
  
  letsencrypt:
    build:
      context: ./docker/docker/letsencrypt
    deploy:
      replicas: 0

  geonode:
    image: ${DOCKER_NAMESPACE:-$COMPOSE_PROJECT_NAME}/nginx:${NGINX_BASE_IMAGE_VERSION}-geonode
    user: '1000'
    build:
      context: ./docker/docker/nginx
      dockerfile: Dockerfile
      args:
        - NGINX_VERSION=${NGINX_BASE_IMAGE_VERSION}
    volumes:
      # - nginx-confd:/etc/nginx
      - nginx-certificates:/geonode-certificates
      - statics:/mnt/volumes/statics
      # - /home/mota/_geonode/statics:/mnt/volumes/statics

  geoserver:
    image: ${DOCKER_NAMESPACE:-$COMPOSE_PROJECT_NAME}/geoserver:${GEOSERVER_BASE_IMAGE_VERSION}-geonode
    build:
      context: ./docker/docker/geoserver
      dockerfile: Dockerfile
      args:
        - GEOSERVER_VERSION=${GEOSERVER_BASE_IMAGE_VERSION}
        - IMAGE_VERSION=9.0.107-jdk11-temurin-jammy
    volumes:
      - statics:/mnt/volumes/statics
      # - /home/mota/_geonode/statics:/mnt/volumes/statics
      - geoserver-data-dir:/geoserver_data/data
      - backup-restore:/backup_restore
      # - ./draft/br:/backup_restore
      - data:/data
      # - /home/mota/_geonode/data:/data
      - tmp:/tmp
    environment:
      - PROXY_BASE_URL=${NGINX_BASE_URL}/geoserver
    ports:
      - "8080:8080"
    user: '1000'

  data-dir-conf:
    image: ${DOCKER_NAMESPACE:-$COMPOSE_PROJECT_NAME}/geoserver_data:${GEOSERVER_BASE_IMAGE_VERSION}-geonode
    user: '1000'
    build:
      context: ./docker/docker/geoserver_data
      dockerfile: Dockerfile
      args:
        - GEOSERVER_VERSION=${GEOSERVER_BASE_IMAGE_VERSION}

  db:
    build:
      context: ./docker/docker/postgis
      args:
        - POSTGRES_VERSION=14
        - POSTGIS_VERSION=3.4
    volumes:
      - dbdata:/var/lib/postgresql/data
      # - /home/mota/_geonode/dbdata:/var/lib/postgresql/data
      - dbbackups:/pg_backups
    ports:
     - "5432:5432"

  mailserver:
    image: python:3.10-alpine
    container_name: mailserver4${COMPOSE_PROJECT_NAME}
    command: >
      sh -c "python -m smtpd -d -c DebuggingServer -n 0.0.0.0:1025"
    ports:
      - "1025:1025"