<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Política de Cookies</h2>
            <hr />
            <p style="line-height: 100%">
                De acrodo com a Lei Geral de Proteção de Dados - LGPD (Lei nº 13.709/2018), informamos que ao preencher este formulário e posteriormente 
                enviar esta mensagem de correio eletrônico, concorda com o tratamento dos seus dados. Os dados pessoais (dados sensíveis não serão 
                processados ​​de forma alguma) são adquiridos pelo Serviço Geológico do Brasil (SGB/CPRM) através de ferramentas eletrônicas e/ou automatizadas. 
                Em qualquer caso, você pode exercer os direitos que lhe são concedidos nos termos da Lei (acesso aos dados, atualizações, integração, 
                cancelamento). Ao clicar no botão “Aceitar”, você reconhece que leu este texto e que consente com o tratamento dos seus dados pessoais. 
                A qualquer momento você pode solicitar ao pessoal do SGB/CPRM que cancele sua inscrição no serviço seguindo as instruções no final 
                de cada mensagem.
            </p>
            <h4 style="font-weight: bold">Cookies e como eles beneficiam você</h4>
            <p style="line-height: 100%">
                Nosso site usa cookies, como quase todos os sites, para ajudar a fornecer a você a melhor experiência possível. Cookies são textos - 
                pequenos arquivos que são colocados no seu computador ou telefone celular quando você navega em sites
            </p>
            <p style="line-height: 100%">Nossos cookies nos ajudam a:</p>
            <ul>
                <li>Fazer nosso site funcionar como você espera</li>
                <li>Lembrar de suas configurações durante e entre visitas</li>
                <li>Melhorar a velocidade/segurança do site</li>
                <li>Permitir que você compartilhe páginas com redes sociais, como o Facebook</li>
            </ul>
            <p style="line-height: 100%">Não usamos cookies para:</p>
            <ul>
                <li>Coletar qualquer informação pessoalmente identificável (sem sua permissão expressa)</li>
                <li>Colete qualquer informação sensível (sem sua permissão expressa)</li>
                <li>Passar dados para redes de publicidade</li>
                <li>Transmitir dados de identificação pessoal a terceiros</li>
                <li>Pagar comissões de vendas</li>
            </ul>
            <p style="line-height: 100%">Você pode saber mais sobre todos os cookies que usamos abaixo.</p>
            <p style="line-height: 100%">
                Se as configurações do software que você está usando para visualizar este site (seu navegador) forem ajustadas para aceitar cookies, 
                aceitaremos isso, e seu uso continuado do nosso site, significa que você está de acordo com isso. Se desejar remover ou não 
                usar cookies do nosso site, você pode aprender como fazer isso abaixo (em Desativando cookies), mas isso provavelmente significará 
                que nosso site não funcionará como esperado.
            </p>
            <h4 style="font-weight: bold">Nossos cookies</h4>
            <p style="line-height: 100%">Usamos cookies para fazer nosso site funcionar, o que inclui:</p>
            <ul>
                <li>Lembrar de suas configurações de pesquisa</li>
                <li>Autenticar para WMS, WFS, WPS via solicitações HTTP</li>
            </ul>
            <p style="line-height: 100%">Não há outra forma de impedir que estes cookies sejam definidos, a não ser não utilizar o nosso site.</p>
            <h4 style="font-weight: bold">Cookies de terceiros</h4>
            <p style="line-height: 100%">
                Nosso site, como a maioria dos sites, inclui funcionalidades fornecidas por terceiros. Um exemplo comum é um vídeo incorporado do YouTube. 
                Nosso site inclui cookies do seguintes serviços:</p>
            <ul>
                <li><a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Cookies de Redes Sociais</h4>
            <p style="line-height: 100%">
                Para que você possa curtir ou compartilhar facilmente nosso conteúdo em sites como Facebook e Twitter, incluímos botões de 
                compartilhamento em nosso site. Os cookies são definidos por:
            </p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">
                As implicações de privacidade variam de rede social para rede social e dependerão das configurações de privacidade 
                você escolheu nessas redes.
            </p>
            <h4 style="font-weight: bold">Desativando cookies</h4>
            <p style="line-height: 100%">
                Geralmente, você pode desativar os cookies ajustando as configurações do seu navegador para impedir que ele aceitem cookies
                (Veja como fazer <a href="https://tecnoblog.net/responde/o-que-sao-cookies-como-limpar-ativar-e-bloquear/" target="_blank">aqui</a>). 
                No entanto, isso provavelmente limitará a funcionalidade dos nossos sites e de uma grande proporção dos sites do mundo, 
                já que os cookies são uma parte padrão da maioria dos sites modernos.
            </p>
            <p style="line-height: 100%">
                Pode ser que as suas preocupações em relação aos cookies estejam relacionadas com o chamado “spyware”. Em vez de desligar os cookies no seu 
                navegador, você pode descobrir que o software anti-spyware atinge o mesmo objetivo, excluindo automaticamente cookies considerados invasivos. 
                Saiba mais em <a href="https://www.tecmundo.com.br/seguranca/245568-roubo-cookies-novo-desvio-perimetro.htm" target="_blank">Roubo de cookies</a>.
            </p>
        </div>
    </body>
</html>
